body {
    background-image: url("images/table.png");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:bisque;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    
}
#cards-el {
    
}
#sum-el {
    
}
#player-el {
    
}

button{
    background-color: goldenrod;
    padding-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    width: 150px;
}